@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  perspective: 10px;
  z-index: 1000;
}

@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.gradient {
  background: rgb(159, 105, 4);
  background: linear-gradient(90deg, rgba(40,98,6,0.4) 18%, rgba(126, 76, 5, 0.4) 44%, rgba(118,6,142,0.2) 76%);
  background-position: 0 0;
  background-size: 300%;

  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
  
  animation: moveGradient 15s linear infinite;

  position: absolute;
  top: 0;
  left: 0;
}

.navbar {
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.fixNav {
  background-color: rgba(255, 255, 255, 0.614);
  transition: background-color 0.3s ease;
}

.navitem {
  cursor: pointer;
}

ul .navbarSelected {
  background-color: rgba(255, 255, 255, 0.826);

  border-radius: 30px;
  opacity: 1;
}

@keyframes twinkle {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.3;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.star {
  animation: twinkle 3s infinite ;
  animation-delay: 3.5s;
}


.card {
  cursor: pointer;
  transition-property: box-shadow, transform;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
  perspective: 10px;
  z-index: 100;
}

.card:hover {
  transform: translateY(-10px);
  transition-property: box-shadow, transform;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
  box-shadow: 0 0 40px rgba(33, 33, 33, 0.101);
}

.projectcard {
  cursor: pointer;
  transition: transform 0.4s ease;
  perspective: 10px;
  z-index: 100;
}

.projectcard:hover {
  transform: translateY(-4px);
  transition: transform 0.4s ease;
}

.cardImage {
  transition: transform 0.4s ease;
}

.card:hover .cardImage {
  transform: translateY(15px);
  transition: transform 0.4s ease;
}

.icons>div {
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.icons>div:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 40px rgba(33, 33, 33, 0.275);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}